*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

input, textarea{max-width: 100%;}


body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
    
}

form{
    display: grid;
    gap: 1rem;
}
.row-2{
    display: grid;
    gap: 1rem;
}
.full {grid-column: 1 / -1;}


@media (min-width: 720px) {
    .row-2 {
        grid-template-columns: 1fr 1fr;
    }
    .full{
        grid-column: 1 / -1;
    }
}

.form-group {
    
    padding: 1rem;
}