*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

input, textarea{max-width: 100%;}


body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
    
}

form{
    display: grid;
    gap: 1rem;
}
.row-2{
    display: grid;
    gap: 1rem;
}
.full {grid-column: 1 / -1;}


@media (min-width: 720px) {
    .row-2 {
        grid-template-columns: 1fr 1fr;
    }
    .full{
        grid-column: 1 / -1;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
  
    /* margin-bottom: .5rem; */
}

.radio {
    
    border: 1px solid #7a7a7a;
    padding:.8rem;
    border-radius: 6px;
}

.label-radio{
    display: flex;
    flex-direction: row;
}

label, legend {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #686868;
}

input{
    font-size: 1rem;
    border: 1px solid #7a7a7a;
    padding:.8rem;
    border-radius: 6px;
    margin-top: .5rem;
    display: block;
    width: 100%;
}

.label-radio{
    display: flex;
    flex-direction: row;
}

input:focus{
    outline: none;
    border-color: #4d4c4c;
    box-shadow: 0 0 0 3px #0c7c5920;
}

input[type="radio"] {
    padding-right: 1.5rem;
    accent-color: #428216;
    display: block;
    width: auto;
}