*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

input, textarea{max-width: 100%;}


body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background-color: #E2F1E7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

label{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #686868;
}

input{
    font-size: 1rem;
    border: 1px solid #7a7a7a;
    padding:.8rem;
    border-radius: 6px;
    display: block;
    width: 100%;
}

input:focus:valid, textarea:focus:valid{
    outline: none;
    border-color: #4d4c4c;
    box-shadow: 0 0 0 3px #0c7c5920;
}

legend{
    margin-bottom: 1rem;
    font-size: 12px;
    color: #686868;
}


textarea {
    width: 100%;    
    padding: 1.5rem .5rem;
    border-radius: 6px;
}


.container {
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;   
}
.container h1 {
    margin-bottom: 1rem;
}

form {
    display: grid;
    gap: 1rem;
}
.row-2{
    display: grid;
    gap: 1rem;
}
.full {grid-column: 1 / -1;
    border: 0;
}



/*==== Mobile First =====*/

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.form-group label {
    padding-bottom: .5rem;
}

.form-group-checkbox {
    display: flex;
    flex-direction: row;
}

.form-group-checkbox label {
    width: 100%;
    margin-left: 1rem;
}
  .radio-group {
    display: flex;
    flex-direction: column; /* radio dugmad jedna pored druge */
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
  }

input[type="checkbox"] {
  padding-right: 1rem;  
  width: 1rem;
  height: 1rem;
}


.radio-group label {
    
    border: 1px solid #7a7a7a;
    border-radius: 6px;
    padding: 0.8rem;
    font-size: .8rem;
    padding-right: 1rem; 
    width: 100%;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    cursor: pointer;

    white-space: nowrap;
    line-height: 1;
    position: relative; /* 游녣 klju캜no za pode코avanje unutar konteksta */
}

form .radio-group input[type="radio"] {
    all:unset;
    -webkit-appearance: none; /* Safari / Chrome */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* standardno */
  appearance: none; /* uklanja sistemski stil */
  width: 14px;
  height: 14px;
  border: 2px solid #7a7a7a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1;
  margin: 0;
  margin-right: 0.5rem;
  vertical-align: middle; /* poravnanje sa tekstom */
 
}

.radio-group input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #0c7c59;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* savr코eno centrirano */
}


.btn{
    background-color: #0c7c59;
    padding:1rem 1.5rem;
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.2px;
    border-radius: 6px;
}

/* --- Desktop / 코iri ekrani --- */
@media (min-width: 720px) {

    body{
        justify-content: center;
        align-items: center;
    }
 .container {
    max-width: 640px;
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
  form {
    display: grid;
    gap: 1.25rem;
  }
  .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* dve kolone za first/last name */
  }


  .form-group {
    flex-direction: column;
    width: 100%; /* vra캖a prirodnu 코irinu */
  }

 input,
  textarea {
    font-size: 1rem;
  }

  button.btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }

}
